* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(0, 48, 73);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

/* custom buttons */
.button-success,
.button-error,
.button-warning {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

/* custom styles */
table.full-width {
    width: 100%;
}

.group-chooser {
	display: inline-block;
    position: relative;
    top: 0;
    right:0;
    background-color: rgb(0, 48, 73);
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 0 10px 10px 0px;
}

.group-chooser label {
    color: #fff;
}

.logo {
    width: 18em;
    height: 18em;
    background: url(../img/logo.jpg) center center no-repeat #fff;
    background-size: 15em;
}

.sidebar .logo {
    max-width: 100%;
    margin: 0 auto 3em;
}
.circular {
    border-radius: 200px;
}

.highlight {
    border: 2px solid rgb(0, 48, 73);
    padding: 5px;
    border-radius: 5px;
}

.bold-legend legend {
    border: 0;
    margin: 0;
    font-weight: bold;
}

.hidden-elem {
	display: none;
}

.user-data tr {
	line-height: 50px;
	}
.user-data td {
	padding-left: 10px;
}

.user-data .value {
	padding-left: 30px;
}

.button-small{
	font-size: 85%;
}

/* large website */
@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 20% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    
    .group-chooser {
		position: fixed;
		right: 3em;
		border-radius: 0 0 10px 10px;
    }
}