{% extends 'base.twig' %}

{% block content %}
    <h1>Hilfe</h1>
    <ol>
        <li><a href="#faq-0">Welche Änderungen ergeben sich durch die Migration? (September 2015)</a></li>
        <li><a href="#faq-1">Was ist das Dashboard?</a></li>
        <li><a href="#faq-2">Ich bin normales Mitglied, wie hilft mir das Dashboard?</a></li>
        <li><a href="#faq-3">Ich koordiniere eine Lokalgruppe oder AG, wie hilft mir das Dashboard?</a></li>
        <li><a href="#faq-4">Ich koordiniere eine Lokalgruppe oder AG, aber mir fehlt die Funktion <em>Mitglieder
                    verwalten</em>. Was kann ich tun?</a></li>
        <li><a href="#faq-5">Was bedeutet es Mitglied in einer Gruppe zu sein?</a></li>
        <li><a href="#faq-6">Wofür brauche ich meinen SOG-Account?</a></li>
        <li><a href="#faq-7">Wie lautet meine persönliche SOG Email-Adresse?</a></li>
        <li><a href="#faq-8">Ich habe bereits eine Email-Adresse und möchte nicht zwei verschiedene abrufen. Was kann
                ich machen?</a></li>
        <li><a href="#faq-9">Ich habe mich bei einer neuen Lokalgruppe oder AG eingetragen, aber ich habe noch keinen
                Zugriff auf den Bereich in Open Atrium. Warum?</a></li>
        <li><a href="#faq-10">Ich habe einen Fehler im Dashboard gefunden oder eine Idee für eine neue Funktion, an wen
                soll ich mich wenden?</a></li>
        <li><a href="#faq-11">Ich habe ein anderes Problem, wer kann mir weiterhelfen?</a></li>
    </ol>
    <div class="answers">
        <hr>
        <section class="faq-item" id="faq-0">
            <h2>Welche Änderungen ergeben sich durch die Migration? (September 2015)</h2>

            <p>Der zentrale Bestandteil der Migration ist die Einführung des <strong>SOG-Accounts</strong> sowie des
                Umzugs auf einen neuen leistungsstarken Server. Weitere Infos zur Migration haben wir in einem <a
                        href="https://studieren-ohne-grenzen.org/atrium/it/node/7519">eigenen FAQ auf OA
                    zusammengestellt</a>.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-1">
            <h2>Was ist das Dashboard?</h2>

            <p>Das Dashboard ist die zentrale Anlaufstelle für die verschiedenen Verwaltungsaufgaben rund um deine
                Mitgliedschaft. Hier kannst du z.B. komfortabel deine Mitgliedschaften in den unterschiedlichen Gruppen
                anpassen.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-2">
            <h2>Ich bin normales Mitglied, wie hilft mir das Dashboard?</h2>

            <p>Das Dashboard bietet dir die Möglichkeit dein zentrales Passwort zu ändern und komfortabel
                Mitgliedschaften in Gruppen zu beantragen, die dich interessieren, oder in denen du mitarbeiten
                möchtest.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-3">
            <h2>Ich koordiniere eine Lokalgruppe oder AG, wie hilft mir das Dashboard?</h2>

            <p>Schön, dass du fragst - genau für Leute wie dich haben wir das Dashboard erdacht! Es soll der zentrale
                Anlaufpunkt für all die Verwaltungsaufgaben bezüglich deiner Gruppe sein. Du kannst hier z.B. neue
                Mitglieder in deiner Lokalgruppe komfortabel freischalten, sie direkt zu einer Gruppe hinzufügen oder
                Anfragen über den Zugang zu deiner Projekt-AG beantworten.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-4">
            <h2>Ich koordiniere eine Lokalgruppe oder AG, aber mir fehlt die Funktion <em>Mitglieder verwalten</em>. Was
                kann ich tun?</h2>

            <p>Normal sollte dich ein Link <em>Mitglieder verwalten</em> in der Seitenleiste auf die entsprechende Seite
                bringen. Dort kannst du oben eine der Gruppen auswählen, für die du als KoordinatorIn eingetragen bist.
                Falls du KoordinatorIn bist und dir die Gruppe oder die Funktion überhaupt nicht angezeigt wird, wende
                dich bitte an das <a href="mailto:it@studieren-ohne-grenzen.org">IT Ressort</a>.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-5">
            <h2>Was bedeutet es Mitglied in einer Gruppe zu sein?</h2>

            <p>Die Mitgliedschaft in einer Gruppe hat mehrere Vorteile:</p>
            <ul>
                <li>Zugriff auf die entsprechende Gruppe in Open Atrium, um sich an Diskussionen zu beteiligen</li>
                <li>Zugriff auf den entsprechenden Ordner in OwnCloud zum sicheren Datenaustausch</li>
                <li>Automatische Mitgliedschaft auf dem entsprechenden Verteiler</li>
            </ul>
        </section>
        <hr>
        <section class="faq-item" id="faq-6">
            <h2>Wofür brauche ich meinen SOG-Account?</h2>

            <p>Der SOG-Account ist dein Zugang für sämtliche Dienste, die wir anbieten. Du brauchst nicht mehr viele
                verschiedene Zugänge und Passwörter, es reicht ein zentraler Login mit einem sicheren Passwort, dass du
                auch selbst festlegen kannst. Zu den angebotenen Diensten zählen:</p>
            <ul>
                <li><a href="https://webmail.studieren-ohne-grenzen.org">Eine SOG-Email Adresse</a></li>
                <li><a href="https://civicrm.studieren-ohne-grenzen.org">Meine Mitgliedschaft in CiviCRM</a></li>
                <li><a href="https://atrium.studieren-ohne-grenzen.org">Open Atrium</a></li>
                <li><a href="https://www.studieren-ohne-grenzen.org/owncloud">Dateiverwaltung OwnCloud</a></li>
                <li><a href="https://dashboard.studieren-ohne-grenzen.org">Verwaltung von Mitgliedern und
                        Mailinglisten</a></li>
            </ul>
        </section>
        <hr>
        <section class="faq-item" id="faq-7">
            <h2>Wie lautet meine persönliche SOG Email-Adresse?</h2>

            <p>Deine Adresse lautet <em>{{ app.user.attributes['mail'][0] }}</em>. Über die <a
                        href="https://webmail.studieren-ohne-grenzen.org">Webmail-Anwendung</a> kannst du Emails mit
                dieser Adresse empfangen oder versenden.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-8">
            <h2>Ich habe bereits eine Email-Adresse und möchte nicht zwei verschiedene abrufen. Was kann ich
                machen?</h2>

            <p>Du hast zwei Möglichkeiten:</p>
            <ul>
                <li>Du kannst alle E-Mails an deinen bestehenden E-Mail-Account weiterleiten lassen:
                    <ol>
                        <li>Rufe die <a
                                    href="https://webmail.studieren-ohne-grenzen.org/?_task=settings&amp;_action=plugin.managesieve">Filtereinstellungen
                                im Webmail</a> auf
                        </li>
                        <li>Um dich im Webmail einzuloggen benötigst du deine SOG-E-Mail-Adresse
                            (<i>{{ app.user.attribute('mail', 0) }}</i>) und dein Passwort
                        </li>
                        <li>Klicke in der Box mit der Überschrift "Filter" auf das große "+" ganz unten in der Box.
                            Wähle nun einen Namen für den Filter (z.B. "Mailweiterleitung").
                            Falls ein entsprechender Filter bereits existiert, solltest du natürlich diesen auswählen
                            entsprechend bearbeiten.
                        </li>
                        <li>Wähle im Abschnitt "Für eingehende Nachrichten" die Option "alle Nachrichten" aus</li>
                        <li>Wähle im Abschnitt "...führe folgende Aktionen aus" die Option "Kopie senden an" aus und
                            gebe in dem links davon erscheinenden Textfeld deine E-Mail-Adresse ein, unter der du die
                            Mails empfangen möchtest
                        </li>
                        <li>Klicke abschließend auf "Speichern". Auch mit der eingerichteten Weiterleitung kannst du
                            deine Mails weiterhin wie gewohnt über deine persönliche SOG-E-Mail-Adresse empfangen
                        </li>
                    </ol>
                </li>
                <li>
                    Falls du ein Mail-Programm wie Thunderbird verwendest, kannst du ohne Aufwand zwei verschiedene
                    Postfächer nutzen. Verwende folgende Daten um deine SOG-Email in deinem Mail-Programm zu verwenden:
                    <ul>
                        <li><strong>Host:</strong> mail.studieren-ohne-grenzen.org</li>
                        <li><strong>Benutzername:</strong> {{ app.user.attributes['uid'][0] }}</li>
                        <li><strong>Passwort:</strong> <em>dein Passwort</em></li>
                        <li><strong>Verschlüsselung:</strong> STARTTLS</li>
                        <li><strong>Konto-Typ:</strong> IMAP</li>
                    </ul>
                </li>
            </ul>
        </section>
        <hr>
        <section class="faq-item" id="faq-9">
            <h2>Ich habe mich bei einer neuen Lokalgruppe oder AG eingetragen, habe aber noch keinen Zugriff auf den
                Bereich in Open Atrium. Warum?</h2>

            <p>Aus Gründen des Datenschutzes muss der Koordinator der jeweiligen Gruppe deine Anfrage bestätigen, bevor
                der
                Zugang zu der neuen Gruppe freigeschaltet ist. Das kann schonmal eine kurze Weile dauern. Falls es
                dringend ist, versuche bitte den Koordinator der Gruppe direkt zu kontaktieren.</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-10">
            <h2>Ich habe einen Fehler im Dashboard gefunden, oder eine Idee für eine neue Funktion. An wen kann ich mich
                wenden?</h2>

            <p>Sehr gut! Wir freuen uns immer über Kommentare. Schreibe uns am besten direkt eine Email an <a
                        href="mailto:it@studieren-ohne-grenzen.org?subject=Dashboard">it@studieren-ohne-grenzen.org</a>.
                Vielen Dank!</p>
        </section>
        <hr>
        <section class="faq-item" id="faq-11">
            <h2>Ich habe ein anderes Problem, wer kann mir weiterhelfen?</h2>

            <p>Das kommt ganz darauf an, um was es geht. Am Schnellsten wird dein Anliegen bearbeitet, wenn du es direkt
                an
                die relevante Adresse schickst:</p>
            <ul>
                <li><a href="mailto:mail@studieren-ohne-grenzen.org">Mails: mail@studieren-ohne-grenzen.org</a></li>
                <li><a href="mailto:mail@studieren-ohne-grenzen.org">Verteiler: mail@studieren-ohne-grenzen.org</a></li>
                <li><a href="mailto:atrium@studieren-ohne-grenzen.org">Open Atrium:
                        atrium@studieren-ohne-grenzen.org</a>
                </li>
                <li><a href="mailto:website@studieren-ohne-grenzen.org">Website: website@studieren-ohne-grenzen.org</a>
                </li>
                <li><a href="mailto:it@studieren-ohne-grenzen.org">SOG Account: it@studieren-ohne-grenzen.org</a></li>
                <li><a href="mailto:it@studieren-ohne-grenzen.org">Sonstiges: it@studieren-ohne-grenzen.org</a></li>
            </ul>
        </section>
    </div>
{% endblock %}
