{% extends 'login.twig' %}
{% block content %}
    <h1 class="brand-title">Passwort ändern</h1>
    <p>Bitte gebe deine alternative Email Adresse ein:</p>
    <form action="{{ path(request_route) }}" class="pure-form pure-form-aligned" method="post">
        <div class="pure-control-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" value="Passwort zurücksetzen">
                <i class="icon-key font-icon">&#xe80d;</i>&ensp;Passwort zurücksetzen
            </button>
        </div>
    </form>
{% endblock %}