{% extends 'login.twig' %}
{% block content %}
    <h1 class="brand-title">Passwort 채ndern</h1>
    <p>Bitte w채hle ein neues sicheres Passwort mit mindestens 8 Zeichen:</p>
    <form action="{{ path(reset_route, { 'token': token }) }}" class="pure-form pure-form-aligned" method="post">
        <div class="pure-control-group">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" required/>
        </div>
        <div class="pure-control-group">
            <label for="password_repeat">Passwort Wiederholung</label>
            <input type="password" name="password_repeat" id="password_repeat" required/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" value="Passwort 채ndern">
                <i class="icon-edit font-icon">&#xe809;</i>&ensp;Passwort 채ndern
            </button>
        </div>
    </form>
{% endblock %}