{% extends 'login.twig' %}
{% block content %}
    <h1 class="brand-title">Passwort 채ndern</h1>
    <p>Hier kannst du dein Passwort 채ndern:</p>
    <form action="{{ path(reset_route, { 'token': token }) }}" class="pure-form pure-form-aligned" method="post">
        <div class="pure-control-group">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" value=""/>
        </div>
        <div class="pure-control-group">
            <label for="password_repeat">Passwort Wiederholung</label>
            <input type="password" name="password_repeat" id="password_repeat" value=""/>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" value="Passwort 채ndern">
                <i class="icon-login font-icon">&#xe80e;</i>&ensp;Passwort 채ndern
            </button>
        </div>
    </form>
{% endblock %}