<?php
$dashboard_config = [];
$dashboard_config['debug'] = true; // should be false on production
// see http://framework.zend.com/manual/current/en/modules/zend.ldap.api.html
$dashboard_config['ldap.options'] = [
    'host' => 'host',
    'useStartTls' => true, // you may have to add "TLS_REQCERT never" in your *local* ldap.conf for this to work
    'username' => 'uid=someuser,ou=someou,dc=somedc for initial bind',
    'password' => 'password for initial bind',
    'bindRequiresDn' => true,
    'accountFilterFormat' => 'sprintf-style LDAP filter',
    'baseDn' => 'ou=someou,o=someo,dc=somedc'
];
// configure subtrees for filtering the respective sub-nodes
$dashboard_config['ldap.subtrees'] = [
    'groups' => 'ou=groups,o=someo,dc=somedc',
    'members' => 'ou=people,o=someo,dc=somedc'
];
$dashboard_config['mailer.from'] = 'sender@example.com';
// http://silex.sensiolabs.org/doc/providers/swiftmailer.html
$dashboard_config['swiftmailer.options'] = [
    'host' => 'yourmx.example.com',
    'port' => 'could be 25',
    'username' => 'username',
    'password' => 'password',
    'encryption' => 'see doc',
    'auth_mode' => 'see doc'
];
// http://silex.sensiolabs.org/doc/providers/remember_me.html
$dashboard_config['remember_me'] = [
    'key' => 'some random key',
    'httponly' => true,
    'secure' => false, /* should be true when we serve via SSL */
    'always_remember_me' => true
];
$dashboard_config['url'] = [
    'host' => 'yourhost.org',
    'dashboard' => 'https://dashboard.yourhost.org'
];
$dashboard_config['theme'] = [
    'logo' => 'pathToLogoFile.png',
    'title' => 'Your long title',
    'short_title' => 'Your short title'
];
// default locale for translation component, see /app/locales/de.yml etc.
$dashboard_config['locale'] = 'en';