<?php
$config = [];
// see http://framework.zend.com/manual/current/en/modules/zend.ldap.api.html
$config['ldap.options'] = [
    'host' => 'host',
    'useStartTls' => true, // you may have to add "TLS_REQCERT never" in your *local* ldap.conf for this to work
    'username' => 'uid=someuser,ou=someou,dc=somedc for initial bind',
    'password' => 'password for initial bind',
    'bindRequiresDn' => true,
    'accountFilterFormat' => 'sprintf-style LDAP filter',
    'baseDn' => 'ou=someou,o=someo,dc=somedc'
];
$config['mailer.from'] = 'sender@example.com';
// http://silex.sensiolabs.org/doc/providers/swiftmailer.html
$config['swiftmailer.options'] = [
    'host' => 'yourmx.example.com',
    'port' => 'could be 25',
    'username' => 'username',
    'password' => 'password',
    'encryption' => 'see doc',
    'auth_mode' => 'see doc'
];
